html,body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: dodgerblue;
    font-size: 36px;
    padding: 9px 15px;
}

.data {
    font-size: 23px;
    padding: 0 15px;
}