div {
    height: 300px;
    /* border-width:5px 10px 15px 20px; */
    /* border-color: red blue yellow lightseagreen; */
    /* border-style: solid dashed dotted; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: ridge inset groove outset; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: hidden; */
    /* border-style: none; */
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-radius: 10px 30px 50px 70px;
}