.img1 {filter: blur(2px);}

.img2 {filter: brightness(150%);}

.img3 {filter: contrast(200%);}

.img4 {filter: sepia(1);}

.img5 {filter: grayscale(1);}

.img6 {filter: hue-rotate(200deg);}

.img7 {filter: invert(100%);}

.img8 {filter: opacity(20%);}

.img9 {filter: saturate(300%);}

.img10 {filter: drop-shadow(9px 9px 12px gray);}

.img5:hover {filter: none;}