.imgbox {
    float: left;
    text-align: center;
    border: 1px solid gray;
    margin: 5px;
    padding: 6px;
    width: 300px;
}

img {
    width: 100px;
}

button {
    width: 100px;
    padding: 6px;
}