/* ol.main {
    list-style-image: url(IMG/sqpurple.gif);
    list-style-type: decimal;
}

.um {
    list-style-image: none;
    list-style-type: lower-roman;
}

.vk {
    list-style-image: none;
    list-style-type: square;
} */

ol {
    background-color: rgb(83, 68, 255);
    padding: 20px;
}

li {
    background-color: rgb(74, 225, 255);
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}