body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: crimson;
    overflow: hidden;
    box-shadow: 0px 3px 15px gray;
    position: fixed;
    width: 100%;
}

ul li {
    float: left;
}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 18px;
    font-size: 21px;
    text-decoration: none;
    display: block;
    color: white;
}

ul li a:hover {
    background-color: rgb(143, 13, 39);
}

ul li a:hover ul li span {
    display: inline-block;
}

ul li a span {
    display: none;
    margin-left: 5px;
}

ul li a:hover span {
    display: inline-block;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 60px 50px; 
}

.ddc {
    display: none;
    position: fixed;
    background-color: blue;
    z-index: 1;
    min-width: 150px;
    box-shadow: 3px 3px 15px gray;
}

.ddc a {
    display: block;
}

.dd {
    display: inline-block;
}

.dd:hover .ddc {
    display: block;
}

