/* p:first-child {
    color: red;
} */

/* p::first-line {
    color: red;
    font-variant: small-caps;
}

h1::after {
    content: url(IMG/Logo\ 1.png);
}

::marker {
    color: red;
}

::selection {
    color: red;
    background-color: yellow;
} */



/* button {
    font-size: 15px;
    padding: 6px 15px;
    background-color: dodgerblue;
    border-radius: 6px;
    bottom: none;
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5)
}

dialog {
    border-radius: 6px;
    text-align: center;
    border: none;
    box-shadow: 3px 3px 9px black;
} */



p.l1::first-line {
    color: green;
}

p.l1::first-letter {
    color: red;
    font-size: xx-large;
}