img {
    max-width: 100%;
    /* min-width: 100%; */
    height: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
}

.left {
    background-color: dodgerblue;
    width: 15%;
    float: left;
}
.main {
    background-color: tomato;
    width: 60%;
    float: left;
}
.right {
    background-color: seagreen;
    float: left;
    width: 25%;
}

* {
    box-sizing: border-box;
}

div {
    color: white;
    padding: 21px;
    height: 60px;   
}

@media screen and (min-width:344px){
    .left, .main, .right {
        width: 100%;
    }
}