button {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 9px 18px;
    margin: 30px;
    border-radius: 7px;
}

button:hover {
    background-color: blue;
    box-shadow: 2px 2px 15px grey;
}