div {
    height: 500px;
    /* background-color: red; */
    /* background-image: linear-gradient(to top, red, yellow);
    background-image: linear-gradient(to bottom, red, yellow);
    background-image: linear-gradient(to right, red, yellow);
    background-image: linear-gradient(to left, red, yellow);
    background-image: linear-gradient(to top right, red, yellow);
    background-image: linear-gradient(to top left, red, yellow);
    background-image: linear-gradient(to bottom right, red, yellow); */
    /* background-image: linear-gradient(to bottom left, red, yellow); */
    /* background-image: linear-gradient(orange, white, green); */
    /* background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red,); */
    /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); */
    /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
    /* background-image: radial-gradient(red 9%, yellow 27%, green 54%); */
    /* background-image: radial-gradient(circle, red, yellow, green); */
    width: 500px;
    /* background-image: conic-gradient(red, yellow, green); */
    /* background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg); */
    /* background-image: conic-gradient(from 90deg, red, yellow, green, blue, black); */
    background-image: conic-gradient(at 66% 36%, red, yellow, green, blue, black);
}