table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    overflow: auto;
    /* position: absolute; */
}

.main {
    height: 79vh;
    overflow-y: scroll;
    position: relative; 
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    /* position: sticky; */
} 

th {
    background-color: #f2f2f2;
    position: sticky;
}