/* img {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 50%;
}

h1 {
    position: absolute;
}

img:hover {
    opacity: 0.5;
} */

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.main {
    background:url(IMG/Nature.jpg);
    border: 3px solid;
}

.sub {
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid;
}

.sub p {
    margin: 5%;
}
