* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    border-radius: 15px;
}

@media screen and (max-width: 1000px){
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px){
    .column {
        flex: 100%;
        max-width: 100%;
    }
}