div {
    height: 400px;
    place-content: center;
}

h1 {
    text-align: center;
}

/* Extra small devices */
@media screen and (max-width: 600px) {
    div {background-color: red;}
    .head1 {display: block;}
    .head2 {display: none;}
    .head3 {display: none;}
    .head4 {display: none;}
    .head5 {display: none;}
}

/* Small devices */
@media screen and (min-width: 600px) {
    div {background-color: green;}
    .head1 {display: none;}
    .head2 {display: block;}
    .head3 {display: none;}
    .head4 {display: none;}
    .head5 {display: none;}
}

/* Medium devices */
@media screen and (min-width: 768px) {
    div {background-color: blue;}
    .head1 {display: none;}
    .head2 {display: none;}
    .head3 {display: block;}
    .head4 {display: none;}
    .head5 {display: none;}
}

/* Large devices */
@media screen and (min-width: 992px) {
    div {background-color: yellow;}
    .head1 {display: none;}
    .head2 {display: none;}
    .head3 {display: none;}
    .head4 {display: block;}
    .head5 {display: none;}
}

/* Extra Large devices */
@media screen and (min-width: 1200px) {
    div {background-color: pink;}
    .head1 {display: none;}
    .head2 {display: none;}
    .head3 {display: none;}
    .head4 {display: none;}
    .head5 {display: block;}
}