*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
}

img {
    width: 60%;
    height: 100vh;
}

.box {
    position: absolute;
    bottom: 30px;
    right: 320px;
}

.text {
    font-size: 36px;
}

