* {
    box-sizing: border-box;
}

.main {
    margin: 0;
    padding: 5;
    height: 100vh;
}

.heading {
    text-align: center;
    font-size: 55px;
    background-color: #e6e6e6;
    color: rgb(255, 0, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px;
}

.link-menu {
    float: left;
    width: 14%;
}

.link {
    text-align: center;
    font-size: 27px;
    background-color: #e6e6e6;
    color: rgb(13, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.main {
    font-size: 17.2px;
    background-color: #e6e6e6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 54%;
    float: left;
    padding: 10px;
    padding-left: 20px;
    height: auto;
    margin-left: 10px;
    padding-bottom: 0px;
}

.right {
    font-size: 17.2px;
    background-color: #e6e6e6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 151px;
    height: auto;
    margin-left: 10px;
}

.footer {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

/* *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* div {
    background-color: #ebebeb;
} */

/* .container {
    padding: 20px;
}

.heading {
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    background-color: #ebebeb;
    margin: 5px;
    padding: 9px 18px;
}

.link-menu {
    width: 15%;
    float: left;
    margin: 5px;
    height: 330px;
    padding: 5px 10px;
    text-align: center;
}

.link-menu a {
    background-color: #ebebeb;
    width: 100%;
    padding: 9px 18px;
    height: 57px;
    line-height: 39px;
    cursor: pointer;
    display: block;
}

.main {
    background-color: #ebebeb;
    width: 60%;
    float: left;
    margin: 5px;
    padding: 9px 30px;
    height: 330px;
}

.right {
    background-color: #ebebeb;
    width: 25%;
    margin-top: 10px;
    padding: 9px 18px;
    float: left;
    height: 330px;
}

.footer {
    margin-top: 10px;
    padding: 9px 18px;
    background-color: #ebebeb;
}

h1 {
    font-size: 2vw;
} 